@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  background-color: #fffeee;
}
h1 {
  color: #0bd;
  font-size: 2rem;
  font-family: serif;
}
h2 {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
}

p {
  font-size: 20px;
  font-family: "ヒラギノ丸ゴ Pro w4", "Hiragino Maru Gothic Pro", sans-serif;
  font-weight: bold;
  line-height: 1.7;
  text-align: justify;
}